body{
    font-family: monospace;
    height: 100vh;
    
    
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Lekton', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, serif;
}
h2,h3,h4,h5,h6{
    font-size: 30px;
    font-family: monospace, monospace;
    font-weight: 100;
}
    
}

.classroom 
{
    poition:relative;
    
}

#intro{
    background-color: aqua;
    width:100%;
    
}

#myCarousel{
    width: 100%;
    margin: 0;
        
}

li{
    list-style-type: none;
}


.boxed {
  border: 1px solid lightgray ;
  width: 550px;
}


.dropbtn {
    background-color: white;
    color:black
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: lightgray}

.show {display:block;}




.dropbtn {
    background-color: white;
    color:black
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: lightgray}



